body, 
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: rgb(175, 175, 218);
}
img {
    width: 100%;
    height: 100vh;
    background-image: url(./kalnas.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    position: relative;
}
.container {
    display: inline-block;
    background-color: teal*;
    padding: 40px*;
    margin-top: 150px*;
    margin-left: calc((100% - 900px) / 2)*;
    width: 1000px;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(50%, 20%);
}
    .left-column {
        display: inline-block;
        background-color: blueviolet;
        padding: 40px;
        float: left*;
        width: calc(42% - 2px);
        background-image: url(./kalnas.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        position: relative;
        bottom: 30px;
        top: 30px;
    }
         .title {
            margin-bottom: 500px;
            margin-left: 20px;
            font-size: 40px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: white;
        }
        .footer {
            position: absolute;
            bottom: 40px;
            left: 80px;
            color: white;
        }
            .link {
                color: white;
            }
            .ampersand {}
    .right-column {
        display: inline-block;
        background-color: white;
        padding: 60px;
        height: 700px*;
        margin-top: -30px*;
        float: left;
        width: calc(58% - 2px);
        position: relative;
        float: right;
    }

        .close {
            display: inline-block;
            height: 60px;
            width: 60px;
            line-height: 56px;
            text-align: center;
            margin-top: 0px;
            position: absolute;
            top: 0px;
            right: 0px;
            font-size: 40px;
            cursor: col-resize;
        }

        .form {
            display: inline-block;
            width: 100%;
        }

        .form-row {
            display: inline-block;
            width: 100%;
            margin-bottom: 40px;
        }
        .form-row:last-of-type {
            margin-bottom: 0%;
        }
        
            label {
                color: gray;
                font-family: initial;
                margin-bottom: 5px;
                font-size: 18px;
                text-transform: uppercase;
            }
            input {
                display: inline-block;
                width: 100%;
                border-right: none;
                border-top: none;
                border-left: none;
                border-bottom-color: blueviolet; 
                font-size: 20px;
            }
        .button {
            display: inline-block;
            margin-top: 20px;
            background-color: blue;
            color: white;
            padding: 10px;
            line-height: 20px;
            padding-left: 50px;
            padding-right: 50px;
            border-radius: 20px;
            font-weight: bold;
        }
        .or {
            display: inline-block;
            margin-top: 20px;
            padding: 30px;
            line-height: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .blue-link {
            display: inline-block;
            margin-top: 20px;
            color: blue;
            line-height: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-decoration: none;
            font-weight: bold;
        }
    